#inicio {
    background-color: #000000; /* Fondo negro */
    padding: 10px 0; /* Espaciado más alto */
    width: 100%; /* Cubre todo el ancho horizontal */
    text-align: center; /* Centra las palabras horizontalmente */
    border-bottom: 1px solid #333; /* Línea inferior sutil */
}

#inicio .contenido {
    display: flex;
    justify-content: center; /* Centra el contenido dentro de la sección */
    align-items: center; /* Alinea verticalmente */
}

#inicio #nav ul {
    display: flex; /* Flexbox para alineación en línea */
    list-style: none; /* Quita los puntos de lista */
    margin: 0;
    padding: 0;
}

#inicio #nav ul li {
    margin: 0 15px; /* Espaciado entre palabras */
}

#inicio #nav ul li a {
    font-family: Arial, sans-serif; /* Fuente Arial */
    font-size: 15px; /* Tamaño de letra más grande */
    text-decoration: none; /* Sin subrayado */
    color: #ffffff; /* Texto blanco */
    font-weight: normal; /* Sin negritas */
    transition: color 0.3s ease; /* Transición suave */
}

#inicio #nav ul li a:hover {
    color: #ffcc00; /* Color dorado al pasar el ratón */
}

#icono-nav {
    color: #ffffff; /* Color del icono */
    font-size: 15px; /* Tamaño del icono */
    cursor: pointer;
}


footer {
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    padding: 20px 0; /* Espaciado superior e inferior más grande */
    text-align: center; /* Centrar contenido */
    width: 100%; /* Abarca todo el ancho */
    font-size: 16px; /* Tamaño de la fuente mayor */
    font-weight: normal; /* Asegurarse de que no esté en negrita */
}

.footer-line {
    display: flex; /* Flexbox para alineación en línea */
    flex-direction: column; /* Alineación vertical */
    align-items: center; /* Centrar horizontalmente */
    gap: 15px; /* Espacio entre texto y redes sociales */
}

.footer-redes {
    display: flex; /* Coloca los iconos en fila */
    justify-content: center; /* Centrar iconos */
    gap: 20px; /* Espaciado entre los iconos */
}

.footer-redes a {
    color: white; /* Color de los iconos */
    font-size: 20px; /* Tamaño de los iconos mayor */
    text-decoration: none; /* Eliminar subrayado */
    transition: color 0.3s ease; /* Efecto suave al pasar el ratón */
    font-weight: normal; /* Asegurarse de que los enlaces no estén en negrita */
}

.footer-redes a:hover {
    color: #007bff; /* Color de hover */
}

